<launch>
  <!-- The rpy in the comment uses the extrinsic XYZ convention, which is the same as is used in a URDF. See
       http://wiki.ros.org/geometry2/RotationMethods and https://en.wikipedia.org/wiki/Euler_angles for more info. -->
  <!-- xyz="-0.00503678 -0.0681969 0.0569346" rpy="0.0230452 0.0151904 0.757296" -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="-0.00503678 -0.0681969 0.0569346   0.0135133 0.00279738 0.369711 0.929044 panda_link8 camera_color_optical_frame" />
</launch>
