<launch>
  <!-- The rpy in the comment uses the extrinsic XYZ convention, which is the same as is used in a URDF. See
       http://wiki.ros.org/geometry2/RotationMethods and https://en.wikipedia.org/wiki/Euler_angles for more info. -->
  <!-- xyz="0.00442775 -0.0624071 0.0608028" rpy="3.09744 -3.11425 -2.36351" -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="0.00442775 -0.0624071 0.0608028   0 0 0 1 panda_link8 camera_link" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_fixer"
      args="0.00442775 -0.0624071 0.0608028   0 0 0 1 panda_link8 camera_color_optical_frame" />
</launch>
